body {
    position: relative;
    background-image: url(second-avenue-subway.webp);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Happy Monkey', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Young Serif', serif;
    font-weight: bold;
    text-align: center;
    color: black;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#main {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.562);
    height: 100%;
    width: 100%;
}
#contain{
    background-color: whitesmoke;
    max-width: 45vh;
    margin: 50px auto 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding: 10px; */
    text-shadow: 0px 0px 3px rgb(233, 11, 11);
}
#welcome-el{
    padding-top: 5vh;
}
#pc{
    margin-top: 5px;
}
h2 {
    text-shadow: 0px 0px 5px rgb(233, 11, 11);
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    font-weight: bolder;
    width: 220px;
}

#increment-btn {
    background: rgb(0, 25, 139);
}

#decrement-btn {
    background: rgb(196, 1, 1);
}

#save-btn {
    background: darkgreen;
}

.uparrow {
    font-size: 20px;
}
p{
    text-shadow: 0px 0px 5px rgb(233, 11, 11);
    font-size: 20px;
}